/* Importing fonts */
@font-face {
    font-family: butlerRegular;
    src: url(assets/font/Butler.woff);
}

@font-face {
    font-family: butlerLight;
    src: url(assets/font/Butler-Light.woff);
}

@font-face {
    font-family: butlerUltraLight;
    src: url(assets/font/Butler-UltraLight.woff);
}

@font-face {
    font-family: butlerBold;
    src: url(assets/font/Butler-Bold.woff);
    font-weight: bold;
}



html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0px;
}

.container {
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Global tags */
h1 {
    font-family: butlerLight;
}

a {
    font-family: butlerLight;
}



/* Header & Navigation */
.title {
    text-decoration: none;
    font-size: 36px;
    color: black;
    margin: 0.5% 0% 0% 1.5%;
    transition: 0.3s;
}

.title:hover {
    color: rgba(0, 0, 0, 0.5)
}

nav {
}

nav ul {
    list-style: none;
    margin: 0px 30px 0px 0px;
    padding: 0;
}

nav ul li {
    display: inline;
    /* top right bottom left */
    margin: 0px 10px 0px 10px;
}

nav ul a {
    font-size: 24px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

nav ul a:hover {
    color: rgba(0, 0, 0, 0.5)
}

/* Car showcase */
.car-showcase {
    margin: 10% 0px 10% 0px;
    padding: 0px;
}

.car-showcase ul {
    list-style-type: none;
    text-align: center;
}

.car-showcase ul li {
    display: inline-block;
    margin: 3% 5% 0% 5%;
}

/* Car title */
.car-showcase ul li h4 {
}

/* View car button */
.car-showcase ul li a {
    color: white;
    background-color: #ae9595;
    text-decoration: none;
    padding: 0.5% 10%;
    transition: 0.5s;
}

.car-showcase ul li a:hover {
    color: rgba(255, 255, 255, 0.719);
}

/* Car image */
.car-model {
    width: 350px;
}

/* Footer */
footer {
    background-color: #e3e1e1;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}

footer p {
    text-align: center;
}
